fastapi
uvicorn
pycountry
rapidfuzz
python-dateutil
pathlib
langid
fauxjson @ git+https://github.com/codefaux/python-fauxjson@main
fauxlogger @ git+https://github.com/codefaux/python-fauxlogger@main
cfsonarrmatcher @ git+https://github.com/codefaux/python-cfsonarr-matcher@main
pyarr