fastapi
uvicorn
pycountry
rapidfuzz
python-dateutil
pathlib
langid
fauxlogger @ git+https://github.com/codefaux/python-fauxlogger@main
cfsonarr @ git+https://github.com/codefaux/python-cfsonarr@main
cfsonarrmatcher @ git+https://github.com/codefaux/python-cfsonarr-matcher@main
